body{
    padding: 0;
    margin: 0;
}

.barra-anuncio{
    color: whitesmoke;
    background-color: #3d2b2b;
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 10px;

}
.main-header{
    padding: 12px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.logo h1{
    font-weight: 1000;
    color: #3d2b2b;
    font-size: 1.9rem;
    text-transform: uppercase;

}

.Buscar .form-control:focus {
    box-shadow: none;
    background-color: #fff;
    
}

.Buscar .btn-danger{
    font-size: 1.5rem;
}


.form-control{
    max-width: 80%;
    font-size: 19px;
    text-align: center;
    
}

.header-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 250px;

    
}

.action-item{ 
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    color: #3d2b2b;
    font-size: 1.6rem;
    transition: transform 0,3 ease, color   0,3 ease;
}

.action-item:hover{
    transform: translateY(-4px);
    color: #3d2b2b;
}

.nav-bar{
    background: #fff;
    padding: 5px 5%;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-item{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: #3d2b2b90;
    display: inline-block;
    transition: tranform 0,3 ease, color 0,3s ease;
}
.nav-item:hover{
    color: #3d2b2b;
    transform: translateY(-5px);
}

@media (max-width: 756px){
    .main-header{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        text-align: center;
    }
}